**/*.code-workspace
**/*.csv
**/*.iml
**/*.ipynb
**/*.log
**/*.pyc
**/__pycache__/
**/json/
**/local/
**/logs/
**/package-lock.json
**/python*/
**/report_files/
**/tokens/
*.json
.editorconfig
.history/
.idea/
.venv/
.vscode/
dist/
